header {
    box-shadow: 0 0 25px 0 black;
}
img {
    width: 200px;
}

.client-list {
    padding-left: 0;
    list-style: none;
}

.clientHead {
    display: flex;
    justify-content: space-between;
}

.editButtons {
    display: flex;
}

.editButtons .btn {
    margin: 5px;
}

.main-actions {
    margin: 20px;
    text-align: center;
}

.main-actions button a {
    color: white;
}

.new-stylist {
    float: right;
}

.italic {
    font-style: italic;
}