@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hair By Dustin</h1>
    <img src="~/img/dustinProfilePic.jpg">
</div>
<div class="main-actions">
    <button class="btn btn-dark"><a asp-area="" asp-controller="Stylist" asp-action="Index">View All Stylists</a></button>
    <button class="btn btn-dark"><a asp-area="" asp-controller="Stylist" asp-action="New">Create New Stylist</a></button>
</div>
