@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hair By Dustin</h1>
    <img src="~/img/dustinProfilePic.jpg">
</div>
<div class="text-center">
    <h3>"I see hair, I cut hair.  All of them." - <span class="italic">Dustin</span></h3>
</div>
