<!-- stylist/index.cshtml -->

@{
    Layout = "~/Views/Shared/_CreateStylist.cshtml";
    ViewData["Title"] = "Crew Page";
}

<div >
<h2>Stylists:</h2>

      @foreach(Stylist stylist in Model)
      {
        <p><a asp-controller="stylist" asp-action="Show" asp-route-id="@stylist.Id">@stylist.FirstName @stylist.LastName</a></p>
      }
</div>