<!-- stylist/index.cshtml -->

@{
    ViewData["Page"] = "All Stylists";
    <!-- Layout = "~/Views/Shared/_CreateStylist.cshtml"; -->
}

<div >
<h2>Stylists:</h2>

      @foreach(Stylist stylist in Model)
      {
        <p><a asp-controller="stylist" asp-action="Show" asp-route-id="@stylist.Id">@stylist.FirstName @stylist.LastName</a></p>
      }
</div>

@section NavLink {
      <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Stylist" asp-action="Index">Stylists</a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-dark new-stylist" asp-area="" asp-controller="Stylist" asp-action="New">Add New Stylist</a>
      </li>
}