<!-- stylist/show.cshtml -->
@{
    Layout = "~/Views/Shared/_CreateCustomer.cshtml";
}
<div>
    <h1>Hair By Dustin</h1>
    <h3>@Model.FirstName @Model.LastName</h3>

    <p>list of customers goes here</p>


</div>